# Usage: pip install -r requirements.txt

# import -----------------------------------------------------------------------------------------------------------------------------------------------------------
opencv-python